@font-face {
    font-family: 'Assistant';
    src: url('../fonts/Assistant-Regular.eot');
    src: url('../fonts/Assistant-Regular.eot?#iefix')
            format('embedded-opentype'),
        url('../fonts/Assistant-Regular.woff2') format('woff2'),
        url('../fonts/Assistant-Regular.woff') format('woff'),
        url('../fonts/Assistant-Regular.ttf') format('truetype'),
        url('../fonts/Assistant-Regular.svg#Assistant-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AssistantSemiBold';
    src: url('../fonts/Assistant-SemiBold.eot');
    src: url('../fonts/Assistant-SemiBold.eot?#iefix')
            format('embedded-opentype'),
        url('../fonts/Assistant-SemiBold.woff2') format('woff2'),
        url('../fonts/Assistant-SemiBold.woff') format('woff'),
        url('../fonts/Assistant-SemiBold.ttf') format('truetype'),
        url('../fonts/Assistant-SemiBold.svg#Assistant-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'AssistantBold';
    src: url('../fonts/Assistant-Bold.eot');
    src: url('../fonts/Assistant-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Assistant-Bold.woff2') format('woff2'),
        url('../fonts/Assistant-Bold.woff') format('woff'),
        url('../fonts/Assistant-Bold.ttf') format('truetype'),
        url('../fonts/Assistant-Bold.svg#Assistant-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
